<div class="container">
  <h1>Hellouuuu</h1>
    <form class="input-group mb-3" action="/answer" method="get" data-turbo="false">
      <input class="form-control" id="question" type="text" name="user_input" value="<%=@question%>" placeholder="What do you wanna know?">
      <input class="btn btn-primary btn-outline-secondary" style="color: white !important;" type="submit" value="Ask!">
    </form>
</div>
